*{

	--loto: #930989;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#card-lottery{
	list-style: none;
	padding: 0;
	margin: 0px;
	box-shadow: 2px 2px 8px #e7e7e7;
	border-radius: 2rem;
}

ul{
	display: grid;	
}

ul li{	
	grid-template-columns: auto auto auto auto auto;
	padding: 10px;
}

ul li label{
	cursor: pointer;
}

input[type=checkbox]{
	display: none;
}

input[type=checkbox] + label{
	width: 8vh;
	height: 8vh;
	line-height: 8vh;
	border: 2px solid #ccc;
	color: #ccc;
	text-align: center; 
	border-radius: 4rem;
	font-size: 4vh;
	letter-spacing: -0.2rem;
	padding: 0;
	margin: 0.2vh; 
}

input[type=checkbox] + label:hover{
	cursor: pointer;
}

input[type=checkbox]:checked + label{
	background-color: #CCC;
	color: #FFF;
}